.folder-form {
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.action-row {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
