@import "../../../../styles/partials/variables";

.bookmarks {
  position: relative;
  margin-top: -1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.notes-toolbar {
  background-color: $accent;
  position: relative;
}

.add-new  {
  position: absolute;
  top: .8rem;
  right: 1rem;
  width: 35px;
  height: 35px;
  line-height: 16px;
  font-size: 16px;
  &:hover {
    background-color: darken($primary, 5%);
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.8), 0px 6px 10px 0px rgba(0, 0, 0, 0.5), 0px 1px 18px 0px rgba(0, 0, 0, 0.5);
  }
  &::ng-deep .mat-button-wrapper{
    line-height: 18px;
    padding: 0;
    .mat-icon {
      font-size: 22px;
      padding-right: .08rem;
      padding-top: 2.5px;
    }
  }
}

.bookmark {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.mat-card {
  min-width: 30%;
  max-width: 30%;
  margin: 1rem auto;
  &:hover {
    cursor: pointer;
    box-shadow: 1px 1px 3px rgba($primary, 0.6), 0 0 1px rgba($primary, 0.6);
  }
}

.delete-button {
  position: absolute;
  top: -.5rem;
  right: -.5rem;
  width: 25px;
  height: 25px;
  line-height: 14px;
  font-size: 14px;

  &::ng-deep .mat-button-wrapper{
    line-height: 16px;
    padding: 0;

    .mat-icon {
      font-size: 18px;
      padding-right: .01rem;
      padding-top: 3px;
    }
  }
}

.disabled-overlay {
  position: absolute;
  top: 0;
  left: .1rem;
  width: 100%;
  Height: 82vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 99999;
}
