<section class="bookmarks-container">
  <button mat-mini-fab color="accent" class="folders">
    <mat-icon>folder</mat-icon>
  </button>
  <div class="bookmarks">
    <ng-container *ngFor="let bookmark of bookmarks">
      <div class="item-container">
        <a [href]="bookmark.url" target="_blank">
          <div class="bookmark" [matTooltip]="bookmark.url + ' || ' + bookmark.description">
            <img [src]="bookmark.faviconUrl" alt="logo" width="32">
            <small class="title">{{bookmark.title}}</small>
          </div>
        </a>
        <button mat-mini-fab color="warn" class="delete-button"
                (click)="deleteBookmark(bookmark._id, bookmark.userId)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </ng-container>
  </div>
  <button mat-mini-fab color="primary" class="add-new" (click)="openBookmarkModal()">
    <mat-icon>add</mat-icon>
  </button>
</section>

<ng-template #bookmarkForm>
  <app-new-bookmark [dialogRef]="bookmarkDialogRef" (addedBookmark)="getBookmarks(user._id)"
                    [user]="user"></app-new-bookmark>
</ng-template>
