<mat-form-field *ngIf="editable">
  <input matInput type="text" placeholder="Title" [(ngModel)]="selectedNote.title">
</mat-form-field>
<ng-container *ngIf="!editable; else editNote">
  <mat-card>
    <p matCardTitle class="note-title">{{selectedNote.title}}</p>
    <hr class="note-line">
    <mat-card-content>
      <markdown [data]="selectedNote.body"></markdown>
    </mat-card-content>
  </mat-card>
</ng-container>
<mat-card-footer class="notes-footer">
  <button mat-raised-button color="warn" class="button" (click)="deleteNote(selectedNote._id)">Discard</button>
  <button mat-raised-button color="primary" class="button" (click)="editable = !editable" *ngIf="!isNewNote">
    <span *ngIf="!editable">Edit</span>
    <span *ngIf="editable">Cancel</span>
  </button>
  <button mat-raised-button color="accent" class="button"
          (click)="updateNote(selectedNote, selectedNote.title, selectedNote.body)"
          *ngIf="editable">Save
  </button>
</mat-card-footer>

<ng-template #editNote>
  <angular-markdown-editor
    textareaId="editor1"
    rows="12"
    name="markdownText"
    [options]="options"
    [(ngModel)]="selectedNote.body">
  </angular-markdown-editor>
</ng-template>
