@import '../../../../styles/partials/variables';

.search-bar {
  margin-bottom: .25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

mat-form-field {
  width: 100%;
  color: white;
}

.search-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-icon {
  width: 2.8rem;
  height: 2.8rem;
  margin-right: 1rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  color: lighten($primary, 10%) !important;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4), 0 0 1px rgba(0, 0, 0, 0.4);
  &:hover {
    cursor: pointer;
  }
  &:active {
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.4), 0 0 1px rgba(0, 0, 0, 0.4);
  }
}

.search {
  width: 2rem;
  height: 2rem;
  margin-left: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  color: lighten($accent, 10%) !important;
  border: none;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4), 0 0 1px rgba(0, 0, 0, 0.4);
  &:hover {
    cursor: pointer;
  }
  &:active {
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.4), 0 0 1px rgba(0, 0, 0, 0.4);
  }
  &:focus {
    border: 1px solid rgba(0, 90, 255, 0.4);
  }
}

.double-search {
  display: flex;
  justify-content: center;
  width: 100%;
  mat-form-field.search-secondary {
    width: 30% !important;
    align-self: flex-end;
  }
  .search {
    top: 3.7rem;
  }
}
