@import '../../../../styles/partials/variables';

.search-bar {
  margin-bottom: .25rem;
}

.form-group {
  position: relative;
  width: 75%;
  margin: 0 auto;
}

.search-icon {
  position: absolute;
  left: -2.4rem;
  top: 0;
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  color: lighten($primary, 10%) !important;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4), 0 0 1px rgba(0, 0, 0, 0.4);
  &:hover {
    cursor: pointer;
  }
  &:active {
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.4), 0 0 1px rgba(0, 0, 0, 0.4);
  }
}

.search {
  position: absolute;
  top: 0.18rem;
  right: -2.2rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  color: lighten($accent, 10%) !important;
  border: none;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4), 0 0 1px rgba(0, 0, 0, 0.4);
  &:hover {
    cursor: pointer;
  }
  &:active {
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.4), 0 0 1px rgba(0, 0, 0, 0.4);
  }
  &:focus {
    border: 1px solid rgba(0, 90, 255, 0.4);
  }
}
