$link-color: #3f51b5;
$link-hover-color: currentColor;
$link-hover-decoration: none;

$primary: rgb(252,88,47);
$secondary: rgb(87,64,163);
$accent: rgb(87,64,163);

$light: #f8f9fa;

$gray-500: #adb5bd;
