<app-navigation></app-navigation>
<app-spinner [loading]="sharedService.isLoading | async">
  <ng-container *ngIf="authService.fireBaseUser | async; else anon">
    <ng-container *ngIf="sharedService.isSettings; else app">
      <router-outlet></router-outlet>
    </ng-container>
  </ng-container>
  <app-messages></app-messages>
</app-spinner>

<ng-template #app>
  <div class="columns">
    <div class="notes column">
      <app-notes-list></app-notes-list>
    </div>
    <div class="todo column">
      <app-todo-list></app-todo-list>
    </div>
    <div class="bookmarks column">
      <app-bookmarks-list></app-bookmarks-list>
    </div>
  </div>
</ng-template>

<ng-template #anon>
  <router-outlet></router-outlet>
</ng-template>
