<section class="notes">
  <div class="disabled-overlay"
       *ngIf="sharedService.currentApp !== 'Notes'"
       (mouseenter)="sharedService.currentApp = 'Notes'"
  ></div>
  <mat-toolbar class="w-101 notes-toolbar">
    <button mat-button [matMenuTriggerFor]="menu" class="text-light">Notes</button>
    <!--<button mat-button class="text-light" (click)="deleteAll()">Delete All</button>-->
    <button mat-mini-fab color="primary" class="add-new" (click)="addNewNote()">
      <mat-icon>add</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <ng-container *ngIf="notes && notes.length">
        <ng-container *ngFor="let note of notes">
          <button mat-menu-item (click)="selectNote(note)">{{note.title}}</button>
        </ng-container>
      </ng-container>
    </mat-menu>
  </mat-toolbar>
  <mat-card>
    <ng-container *ngIf="notesService.selectedNoteFromService | async as note; else noNote">
      <app-note
        [note]="note"
        [editable]="notesService.isEditable | async"
        [isNewNote]="isNewNote"
        (deleted)="updateNoteStatus()"
        (updated)="updateNoteStatus()">
      </app-note>
    </ng-container>
  </mat-card>
</section>

<ng-template #noNote>
  <div class="d-flex justify-content-center align-items-center">
    <p>Please add a new note or choose a note above to get started</p>
  </div>
</ng-template>
