<section class="notes">
  <div class="disabled-overlay"
       *ngIf="sharedService.currentApp !== 'Notes'"
       (mouseenter)="sharedService.currentApp = 'Notes'"
  ></div>
  <div class="notes-container">
    <div class="notes-header">
      <div class="folders">
        <button mat-button [matMenuTriggerFor]="menu" class="text-light">{{currentFolder && currentFolder.name || 'Folders'}}</button>
        <mat-menu #menu="matMenu">
          <ng-container *ngFor="let folder of folders">
            <button mat-menu-item (click)="getAllNotes(user._id, folder.name, folder)" class="folder-button">
              {{folder.name}}
              <button mat-mini-fab class="delete-folder" (click)="deleteSelectedFolder(folder._id, user._id)">
                <mat-icon class="mr-0">delete</mat-icon>
              </button>
            </button>
          </ng-container>
          <div class="actions">
            <button mat-menu-item class="text-center" (click)="openNewFolderModal()" matTooltip="Add a new Folder">
              <mat-icon class="mr-0">add</mat-icon>
            </button>
          </div>
        </mat-menu>
      </div>
      <h2 class="folder-title">Notes</h2>
      <div class="new-note-button">
        <button mat-mini-fab color="primary" class="add-new" (click)="addNewNote()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
    <hr class="notes-line">
    <div class="note-widget">
      <figure class="box folder-nav">
        <h5 class="text-light">{{currentFolder && currentFolder.name}}</h5>
        <hr class="folder-line">
        <div class="saved-notes">
          <ng-container *ngFor="let note of notes">
            <mat-card class="note-list-item-outer" (click)="selectNote(note)">
              <mat-card-content>
                <div class="note-list-item">
                  <h6>{{note.title}}</h6>
                  <small>{{note.created | date:'medium'}}</small>
                </div>
              </mat-card-content>
            </mat-card>
          </ng-container>
        </div>
      </figure>
      <figure class="box note-view">
        <ng-container *ngIf="selectedNote; else noNote">
          <app-note
            [note]="selectedNote"
            [editable]="notesService.isEditable | async"
            [isNewNote]="isNewNote"
            (deleted)="updateNoteStatus()"
            (updated)="updateNoteStatus()">
          </app-note>
        </ng-container>
      </figure>
    </div>
  </div>
</section>

<ng-template #noNote>
  <div class="no-note">
    <p class="text-light">Please add a new note or choose a note above to get started</p>
  </div>
</ng-template>

<app-new-folder [user]="user" [folderFor]="'Notes'"
                (addedFolder)="rePopulateNotesList($event.name, $event)">
</app-new-folder>
