@import "../../../../styles/partials/variables";

.mat-toolbar-single-row {
  padding: 0;
}

.top-bar {
  //position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5rem;
  padding: 0 5rem;
  margin: .5rem  0;
}

.settings {
  width: 33%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.profile-image {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.general-info {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 33.3%;
  &:hover {
    cursor: pointer;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3), 0 0 1px rgba(0, 0, 0, 0.3);
    background-color: lighten($primary, 10%);
  }
}

.active {
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.3), 0 0 1px rgba(0, 0, 0, 0.3);
  background-color: darken($primary, 3%);
  &:hover {
    cursor: pointer;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.3), 0 0 1px rgba(0, 0, 0, 0.3);
    background-color: darken($primary, 3%);
  }
}

.user-bar {
  width: 50%;
  height: 3rem;
  margin: auto;
  box-shadow: 1px 2px 3px rgba($accent, 0.3), 0 0 1px rgba($accent, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  color: $accent;
}

.button {
  width: 7rem;
  margin: 0 .2rem;
}

.disabled-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  Height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 99999;
}
