<section class="todo">
  <div class="todo-list">
    <div class="todo-list-header">
      <div class="folders">
        <button mat-button [matMenuTriggerFor]="menu" class="text-light">{{currentFolder && currentFolder.name}}</button>
        <mat-menu #menu="matMenu">
          <ng-container *ngFor="let folder of folders">
            <button mat-menu-item (click)="getAllTasks(user._id, folder.name, folder)" class="folder-button">
              {{folder.name}}
              <button mat-mini-fab class="delete-folder" (click)="deleteCurrentFolder(currentFolder._id, user._id, currentFolder.name)">
                <mat-icon class="mr-0">delete</mat-icon>
              </button>
            </button>
          </ng-container>
          <div class="actions">
            <button mat-menu-item class="text-center" (click)="openNewFolderModal()" matTooltip="Add a new Folder">
              <mat-icon class="mr-0">add</mat-icon>
            </button>
          </div>
        </mat-menu>
      </div>
      <h2 class="folder-title">To Do</h2>
      <div class="new-task-button">
        <button mat-mini-fab color="primary" class="add-new" (click)="openTasksModal()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
    <hr class="todo-line">
    <ng-container *ngIf="tasks && tasks.length; else noTasks">
      <ng-container *ngFor="let task of tasks">
        <div class="box" [class.completed]="task.complete">
          <a class="detail-view-link" (click)="viewTaskDetail(task)">{{task.title}}</a>
          <div class="icons">
            <ng-container *ngIf="!task.complete">
              <mat-icon class="complete mr-1" (click)="updateTask(task, 'complete')" matTooltip="Complete Task">
                check_circle_outline
              </mat-icon>
            </ng-container>
            <ng-container *ngIf="task.complete">
              <mat-icon class="undo-complete mr-1" (click)="updateTask(task, 'todo')" matTooltip="Undo">
                undo
              </mat-icon>
            </ng-container>
            <mat-icon class="delete" (click)="deleteTask(task)" matTooltip="Delete">
              highlight_off
            </mat-icon>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</section>

<ng-template #noTasks>
  <p class="text-light">Well done! No more tasks left to complete!</p>
</ng-template>

<ng-template #taskDetail>
  <app-task-detail [selectedTask]="selectedTask" [dialogRef]="taskDetailRef"
                   (taskDeleted)="rePopulateTasksList('Personal')"></app-task-detail>
</ng-template>

<ng-template #taskForm>
  <app-new-task [tasksModalRef]="newTaskModalRef" [user]="user" [folders]="folders" [currentFolder]="currentFolder" (taskAdded)="rePopulateTasksList($event.folder)"></app-new-task>
</ng-template>

<app-new-folder [user]="user" [folderFor]="'Tasks'"
                (addedFolder)="rePopulateTasksList($event.name)"></app-new-folder>
