<section class="todo">
  <div class="disabled-overlay"
       *ngIf="sharedService.currentApp !== 'ToDo'"
       (mouseenter)="sharedService.currentApp = 'ToDo'"
  ></div>
  <mat-toolbar class="w-101 notes-toolbar">
    <button mat-button [matMenuTriggerFor]="menu" class="text-light">Tasks</button>
    <button mat-mini-fab color="primary" class="add-new" (click)="openTasksModal()">
      <mat-icon>add</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
    </mat-menu>
  </mat-toolbar>
  <div class="todo-list">
    <ng-container *ngIf="tasks && tasks.length; else noTasks">
      <ng-container *ngFor="let task of tasks">
        <div class="box" [class.completed]="task.complete">
          <a class="detail-view-link" (click)="viewTaskDetail(task)">{{task.title}}</a>
          <div class="icons">
            <ng-container *ngIf="!task.complete">
              <mat-icon class="complete mr-1" (click)="updateTask(task, 'complete')" matTooltip="Complete Task">
                check_circle_outline
              </mat-icon>
            </ng-container>
            <ng-container *ngIf="task.complete">
              <mat-icon class="undo-complete mr-1" (click)="updateTask(task, 'todo')" matTooltip="Undo">
                undo
              </mat-icon>
            </ng-container>
            <mat-icon class="delete" (click)="deleteTask(task)" matTooltip="Delete">
              highlight_off
            </mat-icon>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</section>

<ng-template #noTasks>
  <p class="text-light">Well done! No more tasks left to complete!</p>
</ng-template>

<ng-template #taskDetail>
  <app-task-detail [selectedTask]="selectedTask" [dialogRef]="taskDetailRef" (taskDeleted)="rePopulateTasksList()"></app-task-detail>
</ng-template>

<ng-template #taskForm>
  <app-new-task [tasksModalRef]="newTaskModalRef" (taskAdded)="rePopulateTasksList()"></app-new-task>
</ng-template>
