.ml-1 {
  margin-left: .2rem !important;
}

.ml-2 {
  margin-left: .5rem !important;
}

.ml-3 {
  margin-left: .7rem !important;
}

.ml-4 {
  margin-left: 1rem !important;
}

.ml-5 {
  margin-left: 1.3rem !important;
}

.ml-6 {
  margin-left: 1.5rem !important;
}

.ml-7 {
  margin-left: 1.8rem !important;
}

.ml-8 {
  margin-left: 2rem !important;
}

.ml-9 {
  margin-left: 2.3rem !important;
}

.ml-10 {
  margin-left: 2.8rem !important;
}

.ml-auto {
  margin-left: auto !important;
}
