.mx-1 {
  margin-left: .2rem !important;
  margin-right: .2rem !important;
}

.mx-2 {
  margin-left: .5rem !important;
  margin-right: .5rem !important;
}

.mx-3 {
  margin-left: .7rem !important;
  margin-right: .7rem !important;
}

.mx-4 {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

.mx-5 {
  margin-left: 1.3rem !important;
  margin-right: 1.3rem !important;
}

.mx-6 {
  margin-left: 1.5rem !important;
  margin-right: 1.5rem !important;
}

.mx-7 {
  margin-left: 1.8rem !important;
  margin-right: 1.8rem !important;
}

.mx-8 {
  margin-left: 2rem !important;
  margin-right: 2rem !important
}

.mx-9 {
  margin-left: 2.3rem !important;
  margin-right: 2.3rem !important
}

.mx-10 {
  margin-left: 2.8rem !important;
  margin-right: 2.8rem !important
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
