.modal-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .button-row-button {
    width: 6rem;
  }
}
